.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .intro-button {
    padding: 10px 20px;
    background-color: #748CAB;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .intro-button:hover {
    background-color: #a5abb3;
  }
  
  .intro-image {
    width: 200px;
    height: auto;
    border-radius: 50%;
  }
  
  