body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #2f4f67; 
  color: #ffffff;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Mengatur konten di tengah secara vertikal */
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.profile-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
  color: #ffffff;
  width: 100%;
  padding-left: 800px;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px; /* Membatasi lebar form */
  background-color: #3a5873; 
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.profile-image-upload {
  margin-bottom: 20px;
  text-align: center;
}

.upload-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffffff; 
  cursor: pointer;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.upload-placeholder {
  color: #644ba8; 
  text-align: center;
  font-size: 14px;
}

.profile-preview {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.form-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Memberikan jarak antar elemen */
}

label {
  font-size: 17px;
  display: block;
  color: #ffffff;
  margin-bottom: 5px;
  text-align: center; 
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  background-color: #d3dce6; 
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 380px;
}

textarea {
  resize: none; 
  height: 80px;
}

.profile-button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background-color: #071522; 
  color: #ffffff; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-button:hover {
  background-color: #234c7c; 
}